#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.buttons{
    font-size: 20px;
    margin: 0 20px;
    padding: 25px
}

.message{
    font-size: 30px;
}